<form action="/tweets" method="POST" class="tweet-compose" data-tweets-ul="#feed-ul">
<h2>New Tweet!</h2>
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <strong class="chars-left">140</strong> characters remaining.
    <textarea name="tweet[content]" id="tweet-compose-content" placeholder="Enter your tweet here..."></textarea>
  <br>
  <ul class="mentions-select-list"></ul>
  <%
=begin%>
 <label for="tweet-compose-mentions">
    Mention
  </label>
    <select name="tweet[mentioned_user_ids][]" id="tweet-compose-mentions">
      <option></option>
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.username %></option>
      <% end %>
    </select> 
<%
=end%>
  <br>

  <section class="tweet-compose-submit-row">
    <button class="new-mention-select-btn form-button" type="button">Add Mention</button>
    <input type="Submit" value="Post Tweet!" class="form-button tweet-compose-submit">
  </section>
</form>
