
<section class="comment-display block">
  <h2>Editing Comment</h2>
  <%= render 'form', comment: @comment %>
  <%= link_to 'Permalink', @comment %> |
  <%= link_to 'Back to parent post', @comment.post %>
</section>

