<h2>Replying to...</h2>
<br>
<%= render  "comment_display", comment: @parent_comment %>
<%= render 'form', comment: @comment, parent_comment: @parent_comment %>

<%= link_to 'Back to Post', @parent_comment.post %>
