<h2>Welcome to MusicApp!</h2>

<p>Thanks for registering your email address ( <%= @user.email %> ) with the site!</p>
<br>
<br>
<p>Please click <a href="<%= @url %>">this link</a> to activate your account.</p>
<br>
<br>
<p>Plain text link: <%= @url %></p>