@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Squada+One&display=swap");
html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: inherit;
  overflow: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*#region Colors*/
/*#endregion*/
body {
  background-color: #ebf3f7;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.site-header {
  padding: 1rem;
  background-color: #94d5ff;
  margin-bottom: 1rem;
  border-bottom: 4px solid #004370;
}

h1,
h2 {
  font-family: "Squada One", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.main-container {
  width: 60%;
  margin: 0 auto;
}

.interactive-widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type="text"] {
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
}

button {
  background-color: #009bff;
  padding: 0.5rem;
  border-radius: 5px;
  border-bottom: 2px solid #aaa;
  border-top: 2px solid white;
}

button:hover {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid white;
}

.widget-container {
  padding: 1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.widget-container h2 {
  margin-bottom: 0.3rem;
}

.widget {
  border: 2px solid black;
  padding: 1.5rem;
  background-color: #dfdfdf;
}

.clock-widget {
  background-color: #f9d09b;
}

.clock-widget section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clock-widget span:last-child {
  font-weight: 700;
}

.tabs-widget-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs-widget-nav li {
  background-color: #fff;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  padding: 0.4rem;
  border-radius: 10px 10px 0 0;
  border: 2px solid #34912b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -2px;
  background-color: #d3f9cf;
}

.tabs-widget-content {
  background-color: #a3f99b;
  border: 2px solid #34912b;
  border-top: none;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs-widget-content p {
  text-align: center;
  font-weight: 700;
}

.tabs-widget-nav li:hover {
  cursor: pointer;
  background-color: #34912b;
  color: white;
}

.tabs-widget-nav li:first-child {
  margin-left: initial;
}

.tabs-widget-nav li.selected {
  font-weight: 700;
  border-bottom: none;
  background-color: #a3f99b;
}

.tabs-widget-nav li.selected:hover {
  color: initial;
}

.weather-widget {
  background-color: #ffd8f0;
}

.weather-widget-title-row h3 {
  font-weight: 700;
  font-size: 24px;
}

.weather-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.weather-search input {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.weather-search button {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  font-weight: 700;
  color: white;
  background-color: #ff95d7;
  margin-left: 1rem;
}

.weather-search button:hover {
  background-color: #c6579c;
}

.weather-widget-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
  background-color: #fff;
  padding: 1rem;
}

.weather-widget-content div h4 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-weight: 700;
  font-size: 20px;
}

.weather-widget-content div section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.weather-temps {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */