<h2>Log In</h2>

<form action="/session" method="post">
  <%= auth_token %>
  <table class="log-in-form">
    <tr class="log-in-form-row">
      <td><label for="log-in-name">Username:</label></td>
      <td><input type="text" name="login[name]" id="log-in-name"></td>
    </tr>
    <tr class="log-in-form-row">
      <td><label for="log-in-password">Password:</label></td>
      <td><input type="password" name="login[password]" id="log-in-password"></td>
    </tr>
    <tr class="log-in-form-row">
      <td colspan="2"><input type="submit" value="Log In" class="button"></td>
    </tr>
  </table>
</form>