html {
  font-family: $lato;
}

a:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.753);
}

.button {
  background-color: darkslategray;
  padding: 1rem 2rem;
  border: 1px solid darkslategray;
  border-top: 1px solid #8deaf0;
  border-left: 1px solid #8deaf0;
  border-bottom: 1px solid #30494c;
  border-radius: 3px;
  color: $cream;
}

.button:hover {
  background-color: #b0ced0;
  color: $darkgray;
  text-decoration: none;
  text-shadow: none;
}
