html {
  font-family: $lato;
}

a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.button {
  background-color: darkslategray;
  padding: 1rem 2rem;
  border: 1px solid darkslategray;
  border-top: 1px solid #8deaf0;
  border-bottom: 1px solid #30494c;
  border-radius: 3px;
  color: $cream;
}

.button:hover {
  background-color: #b0ced0;
  color: $darkgray;
  text-decoration: none;
}
