html {
  font-family: $lato;
  background-color: $gray;
}

.button {
  background-color: darkslategray;
  padding: 1rem 2rem;
  border: 1px solid darkslategray;
  border-top: 1px solid #8deaf0;
  border-left: 1px solid #8deaf0;
  border-bottom: 1px solid #30494c;
  border-radius: 3px;
  color: $cream;
}

.button:hover {
  background-color: #b0ced0;
  color: $darkgray;
  text-decoration: none;
  text-shadow: none;
}

body {
  display: flex;
  flex-wrap: wrap;
}

main,
header,
aside {
  box-sizing: border-box;
}

header {
  flex-basis: 100%;
}

aside {
  flex-basis: 25%;
}

@media only screen and (max-width: 900px) {
  aside {
    flex-basis: 33%;
  }

  main {
    flex-basis: 67%;
  }
}

@media only screen and (max-width: 700px) {
  aside,
  main {
    flex-basis: 100%;
  }
}
