<% if parent_sub %>
  <div class="sidebar-sub-description sidebar-block block">
    <h3><%= link_to  parent_sub.name, parent_sub %></h3>
    <div class="sidebar-dub-description-text">
      <% if parent_sub.sidebar %>
        <%= parent_sub.sidebar %>
      <% else %>
        This sub doesn't have any sidebar content :(.
      <% end %>
    </div>
  </div>
  <div class="sidebar-block sidebar-sub-modlist block">
    <h3>Moderators</h3>
    <ul>
      <% parent_sub.moderators.each do |mod| %>
        <li><%= link_to  mod.name, mod %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="sidebar-sub-list sidebar-block block">
  <h3>List of Subs</h3>
  <ul>
    <% Sub.all.order(name: :asc).each do |sub| %>
      <li><%= link_to  "r/#{sub.name}", sub %></li>
    <% end %>
  </ul>
</div>