body {
  font-family: $sansfont;
  background-color: $lightestgray;
  font-size: 16px;
}

main {
  margin: 0 10vw;
  margin-bottom: 4rem;
}

input[type="text"],
input[type="password"],
textarea,
input[type="date"] {
  border: 1px solid $lightgray;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
}

.form-button,
.button {
  @include embossed-effect;
  text-align: center;
  border-radius: 0.3rem;
  background-color: $keycolorlight;
  color: white;
  box-sizing: border-box;
}

.form-button {
  padding: 1rem;
  font-weight: 700;
  width: fit-content;
}

.button {
  padding: 0.3rem;
}

.hidden {
  display: none;
}

.icon-button {
  color: $darkgray;
  font-size: 1rem;
}

.left-padded-icon {
  padding-left: 0.7rem;
}

@media (hover: hover) {
  .icon-button:hover {
    color: $accentcolor;
    cursor: pointer;
  }

  .fa-times-circle:hover {
    color: $deselectcolor;
  }

  main a:hover {
    color: $accentcolor;
    font-weight: 700;
  }

  .form-button:hover,
  .button:hover {
    background-color: $keycolor;
  }
}
