.widget-container {
  padding: 1rem;
  flex-basis: 100%;
}

.widget-container h2 {
  margin-bottom: 0.3rem;
}

.interactive-widgets .widget-container div {
  // height: 20rem;
  box-sizing: border-box;
  // overflow: auto;
}

.widget {
  border: 2px solid black;
  padding: 1.5rem;
  background-color: $lightest-gray;
}
