.widget-container {
  padding: 1rem;
  flex-basis: 100%;
}

.widget-container h2 {
  margin-bottom: 0.3rem;
}

.widget {
  border: 2px solid black;
  padding: 0.5rem;
  background-color: $lightest-gray;
}
