.comment-display {
  background-color: white;
}

.comment-form-block {
  margin-bottom: 1rem;
}

.comment-byline {
  display: flex;
  justify-content: space-between;
  font-size: small;
  font-weight: 300;
}

.new-comment-form {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $light-gray;
}

.comment-links {
  text-align: right;
  font-size: small;
  font-weight: 300;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.comment-byline-author {
  font-weight: 700;
}

.sub-comment-indenter {
  display: flex;
}

.indent-div {
  flex-basis: 1.5%;
  border-left: 1px solid $lightest-blue;
}
.sub-comment-div {
  flex-basis: 98.5%;
}

.comment-display-reply {
  margin-bottom: 1rem;
}

.comment-show-page-parent {
  background-color: $light-blue;
  padding: 10px 10px 0 10px;
}

.comment-oneliner {
  // display: flex;
  // flex-wrap: wrap;
  padding: 0.5rem;
  background-color: $lightest-blue;
  border: 1px solid $gray;
}

.comment-user-show-post-link {
  font-style: italic;
}
