.comment-form-block {
  margin-bottom: 1rem;
}

.comment-byline {
  display: flex;
  justify-content: space-between;
  font-size: small;
  font-weight: 300;
}

.comment-links {
  text-align: right;
  font-size: small;
  font-weight: 300;
}

.comment-byline-author {
  font-weight: 700;
}