.main-header {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;
  font-size: small;
}

.main-header > h3 {
  font-weight: bold;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-header .session-div {
  flex-basis: 30%;
}

.header-log-in-form {
  width: 100%;
}

.session-info-welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log-in-form-submit {
  text-align: right;
}
