.post-display {
  background-color: $lightest-blue;
}

.post-display-title {
  margin-bottom: 1rem;
}

.post-display-title-links {
  margin-top: 5px;
}

.post-display-content {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding: 5px 0;
  margin-bottom: 5px;
}

.post-display-info, .post-display-title-crosspost {
  color: $gray;
  font-size: small;
  text-align: right;
}

.post-display-title-crosspost {
  font-style: italic;
  font-weight: 300;
  font-size: smaller;
}

.post-display-crosspost-form {
  text-align: right;
  margin-top: 10px;
}