.post-display {

}

.post-display-title {
  margin-bottom: 1rem;
}

.post-display-title-links {
  margin-top: 5px;
}

.post-display-content {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding: 5px 0;
  margin-bottom: 5px;
}

.post-display-info {
  color: $gray;
  font-size: small;
  text-align: right;
}