/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 body {
   display: flex;
   flex-wrap: wrap;
 }

 header, footer {
   flex-basis: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2rem;
 }

 header {
   height: 5rem;
 }

main, aside {
  padding: 0.2rem 2rem;
  box-sizing: border-box;
}

main {
  flex-basis: 65%;
}

 aside {
   flex-basis: 30%;
   text-align: right;
 }

 .application-title {
   font-size: 1.4em;
 }

 .button_to, .session-log-out {
  display: inline;
 }