// Place all the styles related to the Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pokemon-detail {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;

  .pokemon-main-image {
    width: 30rem;
    max-height: 21rem;
  }

  .pokemon-main-image,
  h2,
  .pokemon-stats,
  .pokemon-items {
    margin-bottom: 1rem;
  }

  .pokemon-stats li,
  .item-details li {
    padding: 0.2rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    width: 18rem;

    .stats-value,
    .item-value {
      padding-left: 1rem;
      width: 13rem;
    }
  }
}

.pokemon-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 5px;

    img {
      margin-bottom: 0.5rem;
      width: 6rem;
    }

    &:hover {
      border-color: grey;
    }
  }

  .pokemon-item-name {
    width: 8rem;
  }
}
