@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700|Lato:300,400,700&display=swap");
html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  overflow: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

html {
  font-family: "Lato", sans-serif;
}

a:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.753);
}

.button {
  background-color: darkslategray;
  padding: 1rem 2rem;
  border: 1px solid darkslategray;
  border-top: 1px solid #8deaf0;
  border-left: 1px solid #8deaf0;
  border-bottom: 1px solid #30494c;
  border-radius: 3px;
  color: #fcfad3;
}

.button:hover {
  background-color: #b0ced0;
  color: #333;
  text-decoration: none;
  text-shadow: none;
}

.hero-splash {
  background-image: url(./../../splash.jpg);
  background-size: cover;
  background-position: center;
  height: 120vh;
}

.hero-title,
.hero-menu {
  background: none;
}

.hero-splash > * {
  position: relative;
  top: 30vh;
}

.hero-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 5vw;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(13, 13, 13, 0.4);
}

.hero-splash h1 {
  font-family: "Comfortaa", cursive;
  font-size: 5rem;
  color: #fcfad3;
  text-shadow: 2px 2px 1px #666;
  margin-left: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.hero-splash h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  color: white;
}

.hero-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  top: 35vh;
  width: 50vw;
  padding-bottom: 10vh;
}

.hero-menu .button {
  font-size: 1.3rem;
}

@media only screen and (max-width: 900px) {
  .hero-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    top: 40vh;
  }
  .hero-menu li {
    margin-bottom: 3rem;
  }
  .hero-menu li:last-child {
    margin-bottom: 0;
  }
  .hero-splash h1 {
    font-size: 3rem;
  }
  .hero-splash h2 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-height: 500px) {
  .hero-splash {
    height: 150vh;
  }
}

@media only screen and (max-width: 350px) {
  .hero-splash h1 {
    font-size: 2rem;
  }
  .hero-splash h2 {
    font-size: 1.3rem;
  }
  .hero-menu {
    width: 80vw;
  }
}

header,
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  background-color: #357434;
  border-bottom: 1px solid #1c411c;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #fcfad3;
}

header a:hover {
  color: #fbb03b;
}

.session-nav {
  overflow-x: auto;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.session-nav p,
.session-nav a {
  white-space: nowrap;
}

.session-nav li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.session-nav li:first-child {
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.session-nav p {
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.main-nav a,
.session-nav li > * {
  display: block;
  padding: 0.7rem 1rem;
  border-left: 1px solid #8ebd8d;
  border-right: 1px solid #1c411c;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  white-space: nowrap;
}

.main-nav li:first-child a,
.session-nav li:first-child > * {
  border-left: none;
}

.main-nav li:last-child a,
.session-nav li:last-child * {
  border-right: none;
}

.session-nav strong {
  font-weight: 700;
}

.session-nav p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 400px;
}

.header-site-title {
  padding: 0.7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header-main-logo {
  width: 1.5rem;
  margin-right: 0.3rem;
}

@media only screen and (max-width: 1350px) {
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-site-title {
    padding-left: 1rem;
    border-top: 1px solid #2f682e;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #aad9d9;
    color: darkslategrey;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .session-nav p {
    min-width: 0;
  }
}

@media only screen and (max-width: 950px) {
  .session-nav p,
  .session-nav a {
    border-right: none;
  }
  .session-nav {
    border-top: 1px solid #2f682e;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .session-nav p {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .session-nav li > * {
    padding: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */