<h2>Log in!</h2>

<form action="/session" method="post" class="log_in_form">
  <%= auth_token %>
  <table class="log_in_form_table">
    <tr class="log_in_form_row">
      <td><label for="user_email">Email: </label></td>
      <td><input type="text" name="user[email]" id="user_email"></td>
    </tr>
  
    <tr class="log_in_form_row">
      <td><label for="user_password">Password: </label></td>
      <td><input type="password" name="user[password]" id="user_password"></td>
    </tr>
    <tr class="log_in_form_row">
      <td colspan="2"><input type="submit" value="Log in"></td>
    </tr>
  </table>
</form>
<%= render  "layouts/errors" %>

