<% action = (sub.persisted? ? sub_path(sub) : subs_url ) %>
<% method = (sub.persisted? ? "update" : "post" ) %>
<% submit = (sub.persisted? ? "Update Sub" : "Create Sub") %>

<form action=<%= action %> method="post" class="new-sub-form">
  <%= auth_token %>
  <input type="hidden" name="_method" value=<%= method %>>
  <input type="text" name="sub[name]" id="sub-name" placeholder="Sub name...">
  <input type="text" name="sub[description]" id="sub-description" placeholder="Write a short description of what this sub is for...">
  <input type="submit" value="<%= submit %>" class="button">
</form>