<% content_for :wide_title do %>
  <div class="page-title-row">
    <div class="page-title-desc">
      <h2>New Sub</h2>
    </div>
  </div>
<% end %>


<%= render 'form', sub: @sub %>

<%= link_to 'Back', subs_path %>
