<h2><%= @sub.name %></h2>

<section class="posts-list">
  <% @sub.posts.includes(:sub, :author).each do |post| %>
    <%= render  "layouts/multi_sub_post_oneliner", post: post, blank_sub: true %>
  <% end %>
</section>