.fas {
  background-color: transparent;
}

.done-true {
  color: $donecolor;
}

.done-false {
  color: $notdonecolor;
}

@media (hover: hover) {
  .fa-check-circle.done-true:hover {
    color: $deselectcolor;
  }
}
