.global-fetching-spinner {
  position: fixed;
  top: 2rem;
  left: 48vw;
  font-size: 4vw;
  background-color: transparent;
  color: $lightestgray;
}

.fetching-wait {
  animation: spin 1s linear infinite;
}

.todo-list-header .fetching-wait {
  color: $fetchingcolor;
  font-size: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
