.new-todo-form-container {
  margin-bottom: 1rem;
}

.new-todo-form {
  @include flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 0.5rem;
  background-color: white;
  position: absolute;
  top: 30vh;
  width: calc(100% - 30vw);
  left: 15vw;
  margin: 0 auto;
  z-index: 3;
  box-sizing: border-box;
}

.new-todo-modal {
  background-color: #00000066;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.new-todo-form h2 {
  font-family: $seriffont;
  font-size: 1.3rem;
  font-weight: 700;
}

.new-todo-form > * {
  margin-bottom: 0.4rem;
}

.new-todo-form > *:last-child {
  margin-bottom: 0;
}

.new-todo-form .done-selector {
  @include flex;
  justify-content: start;
  margin-bottom: 1rem;
}

.new-todo-form .done-selector label {
  margin-right: 0.5rem;
}

.todo-form-submit-row {
  @include flex;
  align-items: center;
}

.tag-list {
  @include flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tag-list > li {
  @include tag-shape;
  background-color: $keycolorlight;
  color: white;
}

.tag-list > li > i,
.add-tags-button > i {
  padding-left: 0.2rem;
}

.narrow-text-input {
  max-width: 15rem;
}

.add-tags-button {
  @include tag-shape;
  background-color: $keycolorlight;
  color: white;
  font-weight: 700;
  min-width: 8rem;
  text-align: center;
}

.add-tags-container {
  text-align: end;
  margin-left: auto;
}

@media (hover: hover) {
  .tag-list > li:hover {
    background-color: $deselectcolor;
    cursor: pointer;
  }

  .tag-list > li > i:hover {
    color: $deselectcolordark;
  }

  .add-tags-button:hover {
    background-color: $accentcolor;
  }

  .add-tags-button:hover > i {
    color: $keycolor;
  }
}

.error-list {
  @include flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.3rem;
  background-color: transparentize($deselectcolor, $amount: 0.4);
  z-index: 10;
}

.error-list li {
  font-weight: 700;
  color: white;
  padding: 0.2rem;
  background-color: transparent;
}

@media (hover: hover) {
  .error-list li:hover {
    background-color: $deselectcolor;
    cursor: not-allowed;
  }
}

.error-list i {
  padding-right: 0.4rem;
}

.inline-form {
  @include flex;
  justify-content: start;
  align-items: center;
}

.stacked-form {
  @include flex;
  flex-direction: column;
}

.stacked-form input {
  margin-bottom: 0.4rem;
}

.submit-cancel-buttons {
  @include flex;
  justify-content: space-around;
  align-items: center;
}

.submit-cancel-buttons > *:first-child {
  padding-right: 0.4rem;
}

.inline-form > * {
  margin-right: 0.4rem;
}

.inline-form .icon-button,
.stacked-form .icon-button {
  font-size: 1.5rem;
}

.toggleable-text-input {
  @include flex;
  align-items: center;
}
.toggleable-text-input > button {
  width: 2rem;
}

.toggleable-text-input > input,
.toggleable-text-input > textarea {
  width: calc(100% - 2.5rem);
}

@media only screen and (max-width: 750px) {
  .inline-form {
    flex-direction: column;
  }

  .submit-cancel-buttons {
    margin-top: 0.5rem;
    width: 100%;
    max-width: 15rem;
  }
}
