.site-header {
  @include flex;
  align-items: center;
  background-color: $keycolorlight;
  color: white;
  padding: 0 1rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $darkestgray;
}

.site-header h1 {
  font-family: $displayfont;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  padding-right: 2rem;
}

@media (hover: hover) {
  .site-header h1:hover {
    color: white;
    text-shadow: 2px 2px 2px $accentcolordark;
  }
}

.site-byline {
  text-align: right;
  @include flex;
  flex-direction: column;
}

.site-byline > span {
  padding: 1rem 0;
}

.log-out-form > * {
  margin-left: 1rem;
}

.header-username {
  font-weight: 700;
  color: $accentcolorlight;
}

.portfolio-site-link {
  font-weight: 700;
}

@media (hover: hover) {
  .portfolio-site-link:hover {
    color: $notdonecolor;
  }
}

@media only screen and (max-width: 500px) {
  .site-header {
    flex-direction: column;
    padding: 0.5rem;
  }

  .site-byline {
    text-align: center;
  }

  .site-header h1 {
    padding-right: 0;
    font-size: 2rem;
  }
}
