.site-header {
  @include flex;
  align-items: center;
  background-color: $keycolorlight;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $darkestgray;
}

.site-header h1 {
  font-family: $displayfont;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  padding-right: 2rem;
}

.site-byline {
  text-align: right;
}
