.user-form {
  @include flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 0.5rem;
  background-color: white;
  box-sizing: border-box;
}

.user-form > *,
.user-form > form > * {
  margin-bottom: 0.4rem;
}

.user-form h2 {
  font-family: $seriffont;
  font-size: 1.5rem;
}

.user-form .form-redirect-link {
  text-align: right;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
  .user-form {
    padding: 2rem 1rem;
    align-items: center;
  }

  .user-form > form {
    text-align: center;
  }
}
