// Fonts
@import url("https://fonts.googleapis.com/css?family=Spartan:300,400,700,900&display=swap");

// Global Variables
$sansfont: "Spartan", sans-serif;
$seriffont: "Georgia", serif;

// Key Color
$keycolorlight: #988aea;
$keycolor: #6a5acd;
$keycolordark: #41377d;

// Accent Color
$accentcolor: sandybrown;

// Grays
$lightestgray: #eee;
$lightergray: #ddd;
$lightgray: #bbb;
$darkray: #999;
$darkergray: #666;
$darkestgray: #333;
