<h1>Welcome, <span class="username-highlight"><%= current_user.username %></span>!</h1>

<article id="feed">
  <h2>Your Feed!</h2>
  <ul>
    <% @feed_tweets.each do |tweet| %>
      <li class="tweet"><%= render 'tweets/tweet', tweet: tweet %></li>
    <% end %>
  </ul>
</article>

<%= render 'tweets/form' %>
