<h1>Cats Index!</h1>
<%= link_to  "Add a Cat", new_cat_url %>

<h3>Cats currently in the database:</h3>
<ul>
  <% @cats_selection.each do |this_cat| %>
    <li>
    <%= link_to  this_cat.name, cat_url(this_cat) %>
  <% end %>
</ul>