/*#region Colors*/

// Blue
$dark-blue: rgba(0%, 26.4%, 44%, 1);
$blue: rgb(0%, 60.6%, 100%);
$light-blue: rgb(57.9%, 83.4%, 100%);
$lighter-blue: rgb(87.6%, 95.1%, 100%);

// Bluegray
$lightest-bluegray: rgba(92.2%, 95.1%, 97%, 1);
$lighter-bluegray: rgba(89.3%, 93.4%, 96%, 1);
$light-bluegray: rgb(84.1%, 88.5%, 91.3%);
$bluegray: rgb(46.9%, 59.3%, 67%);
$dark-bluegray: rgb(26.6%, 37.9%, 45%);

// Gray
$lightest-gray: #dfdfdf;
$light-gray: #ccc;
$gray: #aaa;
$dark-gray: #777;
$darkest-gray: #4f4f4f;

// Orange
$light-orange: #f9d09b;
$orange: #f9ae4d;
$dark-orange: #c98020;

// Green
$lightest-green: #d3f9cf;
$light-green: #a3f99b;
$dark-green: #34912b;

// Pink
$light-pink: #ffd8f0;
$pink: #ff95d7;
$dark-pink: #c6579c;

/*#endregion*/

$interactive-widget-height: 20rem;
