<main class="group">
  <div class="col col-1-5">
    <article class="article">
      <h2><a href="#">Launching the New React/Redux Curriculum</a></h2>
      <div class="article-byline">By APP ACADEMY INSTRUCTIONAL TEAM</div>
      <ul>
        <li>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li>
        <li>The whole state of your app is stored in an object tree inside a single store. The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</li>
      </ul>
      <div class="article-comments-link"><a href="#">1738 Comments</a></div>
    </article>
  </div>
  <div class="col col-2-5">
    <article class="article video-article">
      <div class="video-container">
        <iframe class="article-video" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="who-we-are-video"></iframe>
      </div>
     <p>Warning: This video will make you want to change your career!</p>
    </article>
    <hr>
    <section class="main-headlines-list">
      <article class="article article-headlines-list-item">
        <h3><a href="#">Where Are They Now?</a></h3>
        <div class="article-byline">By APP ACADEMY ALUMNI</div>
        <p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>
      </article>
      <hr>
      <article class="article article-headlines-list-item">
        <h3><a href="#">Cat Academy</a></h3>
        <div class="article-byline">By APP ACADEMY DIRECTOR OF PRODUCTS</div>
        <p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>
      </article>
    </section>
  </div>
  <div class="col col-2-5 group">
    <div class="column-group-heading"><h3>The Opinion Pages</h3></div>
    <div class="col sub-col col-1-2">
      <span class="section-title">Op-Ed Contributor</span>
      <article class="article">
        <h3><a href="#">Will Javascript ever be as easy as Ruby?</a></h3>
        <p>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>
      </article>
      <ul class="op-ed-headlines-list">
        <li><a href="#">Torvalds: When I Was Almost Wrong</a></li>
        <li><a href="#">Knuth: Art of Programming</a></li>
        <li><a href="#">Lovelace: The First Algorithm</a></li>
        <li><a href="#">Hopper: The First Bug</a></li>
        <li><a href="#">Thompson: Go C Unix</a></li>
        <li><a href="#">Carmack: My Virtual Reality</a></li>
        <li><a href="#">Stallman: Free Speech Not Free Coffee</a></li>
      </ul>
    </div>
    <div class="col sub-col col-1-2">
      <span class="section-title">Operations</span>
      <article class="article">
        <h3><a href="#">App Academy New York Has A Brand New Office</a></h3>
        <div class="article-byline">By NY OPERATIONS</div>
        <p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
        <img src="/assets/open-plan-office.jpg" alt="App Academy's fancy new open plan office" srcset="">
        <!-- IMAGE HERE -->
      </article>
    </div>
    <div class="col col-full-width sign-up-form">
      <h3>Opinion Today, in your Inbox</h3>
      <p>Each weekday, get though-provoking commentary from our columnists and contributors.</p>
      <form action="newsletter" method="post" class="newsletter-form">
        <input type="text" name="user[email]" id="user-email" placeholder="Get the Opinion newsletter by email">
        <input type="submit" value="Sign Up" class="button">
      </form>
      <div class="newsletter-form-disclaimer">We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</div>
    </div>
  </div>
</main>