<div class="search-modal-div" id="search-modal">
  <form action="search" method="post">
    <input type="text" name="site[search]" id="site-search" placeholder="Enter search term here...">
    <input type="submit" value="Search" class="button">
  </form>
  <div class="close">
    <i class="fa fa-window-close"></i>
  </div>
</div>
<div class="overlay hidden" id="overlay">
</div>