$red: rgb(139, 34, 34);
$green: rgb(16, 112, 21);

$light-gray: rgb(234, 234, 234);
$gray: #999;

$lightest-blue: rgb(239, 246, 255);
$light-blue: rgb(215, 233, 252);
$blue: rgb(130, 188, 255);
$dark-blue: rgb(52, 109, 173);
