html {
  position: relative;
  height: 100%;
  background-color: #2b3440;
  font-family: "Krub", sans-serif;
  font-size: 16px;
}

.main-body-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  min-width: 440px;
}

header {
  flex-basis: 100%;
  min-width: 21.1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 3.2rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  background-color: #fff;
  margin-bottom: 1rem;
}

.wide-page-title {
  flex-basis: 100%;
}

// .wide-page-title h2 {
//   padding-bottom: 1rem;
// }

main {
  box-sizing: border-box;
  flex-basis: 75%;
}

aside {
  box-sizing: border-box;
  flex-basis: 25%;
  padding-left: 0.5rem;
}

.page-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  background-color: $lightest-blue;
  padding: 0.5rem;
  border-radius: 5px;
}

.page-description {
  color: $gray;
  font-size: small;
}

a,
.form-link {
  color: $darkest-blue;
}

a:hover,
.form-link:hover {
  text-decoration: underline;
}

button,
.button,
.button_to {
  background-color: $light-blue;
  border: 1px solid $blue;
  padding: 0.3rem;
  box-sizing: border-box;
}

button:hover,
.button:hover,
.button_to:hover {
  cursor: pointer;
  background-color: $dark-blue;
  color: $lightest-blue;
}

.log-in-form-submit {
  width: 100%;
}

.inline-form {
  display: inline;
}

h2 {
  font-size: large;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
textarea {
  border: 1px solid $gray;
  border-radius: 5px;
  width: 100%;
  padding: 0.3rem;
}

.custom-select {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  background: transparent;
  // border: none;
  font-size: 14px;
  height: 35px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 268px;
  background-color: $dark-blue;
  color: white;
}

.block {
  box-sizing: border-box;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 10px;
}

// textarea {
//   width: 100%;
// }

@media only screen and (max-width: 800px) {
  main {
    order: 3;
    flex-basis: 100%;
  }

  aside {
    flex-basis: 100%;
    padding-left: 0;
    display: flex;
  }
}
