@import url("./../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Spartan:300,400,700,900&display=swap");
html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: inherit;
  overflow: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Spartan", sans-serif;
  background-color: #eee;
  font-size: 16px;
}

main {
  margin: 0 10rem;
}

input[type="text"] {
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-button,
.button {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #666;
  text-align: center;
  border-radius: 0.3rem;
  background-color: #988aea;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-button:hover,
.button:hover {
  background-color: #6a5acd;
}

.form-button {
  padding: 1rem;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button {
  padding: 0.3rem;
}

.hidden {
  display: none;
}

.icon-button {
  color: #ddd;
  font-size: 1rem;
}

.icon-button:hover {
  color: #f4a460ff;
  cursor: pointer;
}

.fa-times-circle:hover {
  color: #cd5c5cff;
}

.left-padded-icon {
  padding-left: 0.7rem;
}

a:hover {
  color: #f4a460ff;
  font-weight: 700;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #988aea;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #333;
}

header h1 {
  font-family: "Spartan", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

.new-todo-form-container {
  margin-bottom: 1rem;
}

.new-todo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  border-radius: 0.5rem;
  background-color: white;
  position: absolute;
  top: 20vh;
  width: 80vw;
  max-width: 40rem;
  margin: 0 auto;
  z-index: 3;
}

.new-todo-modal {
  background-color: #00000066;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.new-todo-form h2 {
  font-family: "Georgia", serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.new-todo-form > * {
  max-width: 40rem;
  margin-bottom: 0.4rem;
}

.new-todo-form > *:last-child {
  margin-bottom: 0;
}

.new-todo-form .done-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 1rem;
}

.new-todo-form .done-selector label {
  margin-right: 0.5rem;
}

.inline-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inline-form > * {
  margin-right: 0.4rem;
}

.inline-form .icon-button {
  font-size: 1.5rem;
}

.toggleable-text-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggleable-text-input > button {
  width: 2rem;
}

.toggleable-text-input > input {
  width: calc(100% - 2.5rem);
}

.todo-list {
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
}

.todo-list-item {
  padding: 1.5rem 1rem;
  padding-left: 4rem;
  border-bottom: 1px solid #bbb;
}

.todo-list-item:last-child {
  border-bottom: none;
}

.todo-done {
  position: absolute;
  left: -3rem;
  font-size: 2rem;
}

.todo-list-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.todo-list-item-title:hover {
  cursor: pointer;
}

.todo-title {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.5rem;
}

.todo-delete-icon {
  position: relative;
  right: -1rem;
  font-size: 1.5rem;
}

.todo-details {
  margin-top: 1rem;
}

.todo-details > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1rem;
}

.todo-details-label {
  width: 8rem;
}

.todo-details .todo-steps-container {
  padding: 1rem 0;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.steps-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.step-list-item {
  margin-bottom: 1rem;
}

.step-title {
  position: relative;
}

.step-done {
  position: absolute;
  left: -1.4rem;
}

.step-delete-icon {
  padding-left: 1rem;
}

.step-number {
  font-weight: 700;
  color: #988aea;
  padding-right: 1rem;
}

.step-list-item > ul > li {
  padding: 0.3rem 0;
}

.done-true {
  color: #80d879ff;
}

.done-false {
  color: #bad7eeff;
}

.fa-check-circle.done-true:hover {
  color: #cd5c5cff;
}
/*# sourceMappingURL=style.css.map */