@import url("https://fonts.googleapis.com/css?family=Spartan:300,400,700,900&display=swap");
html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: inherit;
  overflow: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Spartan", sans-serif;
  background-color: #eee;
  font-size: 16px;
}

main {
  margin: 0 10vw;
  margin-bottom: 4rem;
}

input[type="text"],
textarea,
input[type="date"] {
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.form-button,
.button {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #666;
  text-align: center;
  border-radius: 0.3rem;
  background-color: #988aea;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-button:hover,
.button:hover {
  background-color: #6a5acd;
}

.form-button {
  padding: 1rem;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button {
  padding: 0.3rem;
}

.hidden {
  display: none;
}

.icon-button {
  color: #999;
  font-size: 1rem;
}

.icon-button:hover {
  color: #f4a460ff;
  cursor: pointer;
}

.fa-times-circle:hover {
  color: #cd5c5cff;
}

.left-padded-icon {
  padding-left: 0.7rem;
}

a:hover {
  color: #f4a460ff;
  font-weight: 700;
}

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #988aea;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #333;
}

.site-header h1 {
  font-family: "Spartan", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  padding-right: 2rem;
}

.site-byline {
  text-align: right;
}

.new-todo-form-container {
  margin-bottom: 1rem;
}

.new-todo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  border-radius: 0.5rem;
  background-color: white;
  position: absolute;
  top: 30vh;
  width: calc(100% - 30vw);
  left: 15vw;
  margin: 0 auto;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new-todo-modal {
  background-color: #00000066;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.new-todo-form h2 {
  font-family: "Georgia", serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.new-todo-form > * {
  margin-bottom: 0.4rem;
}

.new-todo-form > *:last-child {
  margin-bottom: 0;
}

.new-todo-form .done-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 1rem;
}

.new-todo-form .done-selector label {
  margin-right: 0.5rem;
}

.inline-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stacked-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stacked-form input {
  margin-bottom: 0.4rem;
}

.submit-cancel-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit-cancel-buttons > *:first-child {
  padding-right: 0.4rem;
}

.inline-form > * {
  margin-right: 0.4rem;
}

.inline-form .icon-button,
.stacked-form .icon-button {
  font-size: 1.5rem;
}

.toggleable-text-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggleable-text-input > button {
  width: 2rem;
}

.toggleable-text-input > input,
.toggleable-text-input > textarea {
  width: calc(100% - 2.5rem);
}

@media only screen and (max-width: 750px) {
  .inline-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .submit-cancel-buttons {
    margin-top: 0.5rem;
    width: 100%;
  }
}

.todo-list {
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
}

.todo-list-item {
  padding: 1.5rem 1rem;
  padding-left: 4rem;
  border-bottom: 1px solid #bbb;
}

.todo-list-item:last-child {
  border-bottom: none;
}

.todo-done {
  position: absolute;
  left: -3rem;
  font-size: 2rem;
}

.todo-list-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1rem;
}

.todo-list-item-title:hover {
  background-color: #eee;
  cursor: pointer;
}

.todo-title {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.5rem;
}

.todo-title-and-due {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.friendly-due-string {
  font-size: 0.8rem;
  font-weight: 700;
  padding-top: 0.2rem;
}

.friendly-due-string.overdue {
  color: #cd5c5cff;
}

.friendly-due-string.due-this-week {
  color: #9b5a23ff;
}

.friendly-due-string.not-due {
  color: #999;
}

.friendly-due-string.friendly-done {
  color: #61a45cff;
}

.todo-delete-icon {
  margin-left: auto;
  font-size: 2rem;
}

.todo-details {
  margin-top: 0;
}

.todo-details > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 0;
  margin: 0.6rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  min-height: 3.5rem;
}

.todo-details .inline-form {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.todo-details > li:last-child {
  border-bottom: none;
}

.todo-details-label {
  width: 6rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #6a5acd;
  font-weight: 700;
}

.todo-details-content {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.todo-details-content .icon-button {
  padding-left: 0.5rem;
}

.todo-details .todo-steps-container {
  padding: 1rem 0;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.steps-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.todo-details .todo-details-status-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.todo-details-status-row > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 750px) {
  .todo-title {
    font-size: 1.2rem;
  }
  .todo-details > li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .todo-details > li > * {
    width: 100%;
  }
  .todo-done,
  .todo-delete-icon {
    position: static;
    padding: 0;
  }
  .todo-done {
    padding-right: 1rem;
  }
  .todo-list-item {
    padding-left: 0;
  }
  .todo-details-label {
    margin-bottom: 0.5rem;
  }
  .todo-steps-container,
  .steps-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .todo-list-item-title {
    padding: 0;
  }
}

.step-list-item {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid #988aea;
  max-width: 40rem;
}

.step-list-item:last-child {
  border-bottom: none;
}

.step-list-placeholder-item {
  margin-bottom: 0.5rem;
}

.step-details > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-bottom: 0.5rem;
}

.step-details .inline-form {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.step-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-transform: capitalize;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
}

.step-title:hover {
  cursor: pointer;
  background-color: #eee;
}

.step-done {
  position: absolute;
  left: -3.5rem;
  font-size: 2rem;
}

.step-title-done {
  color: #61a45cff;
}

.step-delete-icon {
  padding: 0;
  font-size: 2rem;
  margin-left: auto;
  padding-left: 0.3rem;
}

.step-number {
  font-weight: 700;
  color: #988aea;
  padding-right: 1rem;
}

.step-details-label {
  width: 5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #6a5acd;
  font-weight: 700;
  padding: 0.2rem 0;
}

@media only screen and (max-width: 750px) {
  .step-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .step-done {
    position: static;
    padding-right: 0.5rem;
  }
  .step-details > li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .step-details > li > * {
    width: 100%;
  }
  .step-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .step-list > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.fas {
  background-color: transparent;
}

.done-true {
  color: #61a45cff;
}

.done-false {
  color: #bad7eeff;
}

.fa-check-circle.done-true:hover {
  color: #cd5c5cff;
}

.todo-list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-list-header h2 {
  font-family: "Georgia", serif;
  font-size: 1.6rem;
}

.sort-toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sort-toggles .filter-menu-heading {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sort-toggles a {
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.sort-toggles-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sort-toggles-menu > * {
  padding-left: 1rem;
}

.sort-option:hover {
  cursor: pointer;
}

.fa-toggle-on {
  color: #6a5acd;
}

.sort-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-option .icon-button {
  padding-left: 0.3rem;
}

@media only screen and (max-width: 1200px) {
  .todo-list-header,
  .sort-toggles-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sort-toggles-menu > * {
    padding-left: 0;
    padding-bottom: 1rem;
  }
  .sort-toggles {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */