.site-header {
  @include flex;
  align-items: center;
  background-color: white;
  @include embossed;
  border-color: $dark-bluegray;
  border-top: none;
  padding: 1rem 3rem;
}

.site-header h1 {
  font-family: $fredoka;
  font-size: 40px;
  color: $blue;
  text-shadow: 1px 2px 0px $light-bluegray;
  // padding: 1rem 3rem;
}

.header-menu ul {
 @include flex;
 align-self: center;
//  padding: 1.7rem 3rem;
}

.header-menu li {
  padding-left: 2rem;
  font-size: 20px;
}

.header-menu a:hover, .header-menu input:hover {
  color: $orange;
}