.tweet {
  background-color: white;
  // width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  @include embossed;
}

.tweet-content {
  font-size: 23px;
  margin-bottom: 1rem;
}

.tweet-info {
  text-align: right;
  color: $dark-gray;
}

.tweet-info a {
  color: $dark-bluegray;
}

.tweet-info a:hover {
  color: $orange;
}

.tweet-mentioned-users {
  @include flex;
  justify-content: left;
}

.tweet-mentioned-users li {
  margin-right: 0.5rem;
}

.tweet-mentioned-users a::before {
  content: "@";
}