.tweet-compose {
  @include embossed;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  font-size: 18px;
  background-color: white;
}

.tweet-compose-submit-row {
  @include flex;
  margin-top: 0.5rem;
  align-items: center;
}

.tweet-compose textarea, .tweet-compose select {
  border: 1px solid $light-bluegray;
}

.tweet-compose textarea {
  margin-top: 0.5rem;
}

.low-remaining-characters {
  color: $orange;
  font-weight: bold;
}

.tweet-post-success-message {
  margin-top: 0.5rem;
  display: block;
  text-align-last: center;
  font-weight: bold;
  color: $orange;
}

.mentions-select-list {
  margin-top: 0.5rem;
}

.mentions-select-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-mention-select {
  width: 80%;
  margin-top: 0;
}