.tweet-compose {
  @include embossed;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  font-size: 18px;
  background-color: white;
}

.tweet-compose-submit-row {
  @include flex;
  margin-top: 0.5rem;
  align-items: center;
}

.tweet-compose textarea, .tweet-compose select {
  margin-top: 0.5rem;
  border: 1px solid $light-bluegray;
}

.low-remaining-characters {
  color: $orange;
  font-weight: bold;
}

.tweet-post-success-message {
  display: block;
  text-align-last: right;
  font-weight: bold;
  color: $orange;
}