@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Lato:300,700&display=swap');

$lato: 'Lato', sans-serif;
$comfortaa: 'Comfortaa', cursive;
$fredoka: 'Fredoka One', cursive;

// Blue
$blue: rgb(0%, 60.6%, 100%);
$light-blue: rgb(57.9%, 83.4%, 100%);
$lighter-blue: rgb(87.6%, 95.1%, 100%);

// Bluegray
$light-bluegray: rgb(84.1%, 88.5%, 91.3%);
$bluegray: rgb(46.9%, 59.3%, 67%);
$dark-bluegray: rgb(26.6%, 37.9%, 45%);

// Gray
$lightest-gray: #dfdfdf;
$light-gray: #ccc;
$gray: #aaa;
$dark-gray: #777;
$darkest-gray: #4f4f4f;

// Yellow
$light-orange: rgb(100%, 81.3%, 60%);
$light-orange-shaded: rgb(80%, 65.1%, 48%);
$orange: rgb(100%, 53.4%, 0%);
$dark-orange: rgb(60%, 32%, 0%);