html {
  font-family: $lato;
}

body {
  background-color: $light-bluegray;
}

main {
  margin: 1rem auto 0 auto;
  width: 70%;
  max-width: 35rem;
}

main h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 1px $light-blue;
}

main h2 {
  margin-bottom: 1rem;
  font-size: large;
  font-weight: bold;
  color: $dark-bluegray;
}

.username-highlight {
  color: $orange;
}

.username-highlight a:hover {
  color: $blue;
}

a:hover {
  color: $orange;
}

input[type="text"], input[type="password"], textarea, select {
  background-color: #fff;
  padding: 1rem 1.5rem;
  font-size: larger;
  font-weight: lighter;
  width: 100%;
  border-radius: 0.7rem;
  @include light-embossed;
}

input[type="text"]:disabled, input[type="password"]:disabled, textarea:disabled, select:disabled {
  background-color: $lightest-gray;
  color: $light-gray;
  border: 1px solid $light-gray;
}

select {
  height: 2rem;
  border: 1px solid $light-gray;
}

textarea {
  box-sizing: border-box;
}

.follow-toggle {
  background-color: $lighter-blue;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
  @include light-embossed;
}

.follow-toggle:hover {
  background-color: $light-bluegray;
  @include hover-embossed;
  // color: $orange;
}

.form-button {
  @include light-embossed;
  padding: 0.5rem 1rem;
  background-color: $lightest-bluegray;
  border-radius: 0.3rem;
  font-weight: bold;
  color: $dark-blue;
}

.form-button:hover {
  @include hover-embossed;
  background-color: $lighter-bluegray;
  color: $orange;
}

.form-button:disabled, .form-button.disabled-button {
  background-color: $lightest-gray;
  color: $light-gray;
  border: 1px solid $light-gray;
  cursor: pointer;
}