@mixin flex {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

@mixin light-embossed {
  border-bottom: 2px solid $light-gray;
  border-top: 2px solid white;
}

@mixin hover-embossed {
  border-top: 2px solid $light-gray;
  border-bottom: 2px solid white;
}

@mixin embossed {
  border-bottom: 2px solid $gray;
  border-top: 2px solid white;
}